# [SETUP]

In [1]:
spark

In [2]:
%%sql
use prod.db

25/07/04 22:52:08 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

# [WHY] CTE (Common Table Expression) can improve readability and reduce code repetition

CTEs make testing complex queries simpler

* A CTE is a select statement that can be reused in a single query. 

* Complex SQL queries often involve multiple sub-queries. Multiple sub-queries make the code hard to read.

* Use a Common Table Expression (CTE) to make your queries readable

## [HOW] to define a CTE

### [Example]

In [3]:
%%sql
-- CTE definition
WITH
  supplier_nation_metrics AS ( -- CTE 1 defined using WITH keyword
    SELECT
      n.n_nationkey,
      SUM(l.l_QUANTITY) AS num_supplied_parts
    FROM
      lineitem l
      JOIN supplier s ON l.l_suppkey = s.s_suppkey
      JOIN nation n ON s.s_nationkey = n.n_nationkey
    GROUP BY
      n.n_nationkey
  ),
  buyer_nation_metrics AS ( -- CTE 2 defined just as a name
    SELECT
      n.n_nationkey,
      SUM(l.l_QUANTITY) AS num_purchased_parts
    FROM
      lineitem l
      JOIN orders o ON l.l_orderkey = o.o_orderkey
      JOIN customer c ON o.o_custkey = c.c_custkey
      JOIN nation n ON c.c_nationkey = n.n_nationkey
    GROUP BY
      n.n_nationkey
  )
SELECT -- The final select will not have a comma before it
  n.n_name AS nation_name,
  s.num_supplied_parts,
  b.num_purchased_parts
FROM
  nation n
  LEFT JOIN supplier_nation_metrics s ON n.n_nationkey = s.n_nationkey
  LEFT JOIN buyer_nation_metrics b ON n.n_nationkey = b.n_nationkey
LIMIT 10;

+-------------+--------------------+---------------------+
| nation_name | num_supplied_parts | num_purchased_parts |
+-------------+--------------------+---------------------+
|   ARGENTINA |          583989.00 |           609330.00 |
|      FRANCE |          534549.00 |           585564.00 |
|      CANADA |          569306.00 |           631774.00 |
|    ETHIOPIA |          506759.00 |           647056.00 |
|   INDONESIA |          686980.00 |           659643.00 |
|       EGYPT |          610765.00 |           627841.00 |
|       INDIA |          719461.00 |           584063.00 |
|     GERMANY |          765812.00 |           619356.00 |
|      BRAZIL |          664553.00 |           618707.00 |
|     ALGERIA |          558454.00 |           600846.00 |
+-------------+--------------------+---------------------+

### [Exercise] 

Calculate the money lost due to discounts. Use lineitem to get the price of items (without discounts) that are part of an order and compare it to the order.

**Time limit during live workshop: 10 min**

**Hint**: Figure out the grain that the comparison need to be made in. Think in steps i.e. get the price of all the items in an order without discounts and then compare it to the orders data whose `totalprice` has been computed with discounts.

Here are the schemas of `orders` and `lineitem` tables.

![Orders table](../../images/orders.png)


![lineitem table](../../images/lineitem.png)

In [4]:
%%sql
WITH lineitem_agg AS (
    SELECT 
        l_orderkey,
        SUM(l_extendedprice) AS total_price_without_discount
    FROM 
        lineitem
    GROUP BY 
        l_orderkey
)
SELECT 
    o.o_orderkey,
    o.o_totalprice, 
    l.total_price_without_discount - o.o_totalprice AS amount_lost_to_discount
FROM 
    orders o
JOIN 
    lineitem_agg l ON o.o_orderkey = l.l_orderkey
ORDER BY 
    o.o_orderkey;

+------------+--------------+-------------------------+
| o_orderkey | o_totalprice | amount_lost_to_discount |
+------------+--------------+-------------------------+
|          1 |    194029.55 |                 8951.76 |
|          2 |     60951.63 |                -2902.45 |
|          3 |    247296.05 |                15750.08 |
|          4 |     53829.87 |                -2445.87 |
|          5 |    139660.54 |                 3684.85 |
|          6 |     65843.52 |                 3641.00 |
|          7 |    231037.28 |                 7895.84 |
|         32 |    166802.63 |                  334.59 |
|         33 |    118518.56 |                 5797.76 |
|         34 |     75662.77 |                -1014.60 |
|         35 |    192885.43 |                 2396.99 |
|         36 |     72196.43 |                 7140.31 |
|         37 |    156440.15 |                 3513.85 |
|         38 |     64695.26 |                 1374.26 |
|         39 |    307811.89 |                 3782.16 |
|         64 |     30616.90 |                  979.49 |
|         65 |     99763.79 |                 -800.48 |
|         66 |    100991.26 |                -4942.51 |
|         67 |    167270.36 |                  453.77 |
|         68 |    305815.83 |                 -452.82 |
|         69 |    228015.94 |                 3306.58 |
|         70 |    133507.10 |                 2989.27 |
|         71 |    244449.86 |                -1193.24 |
|         96 |     72504.36 |                 -861.56 |
|         97 |    128590.11 |                -3641.11 |
|         98 |     62956.90 |                  461.31 |
|         99 |    136624.34 |                 4384.29 |
|        100 |    204408.59 |                 -117.17 |
|        101 |    142434.13 |                 8948.01 |
|        102 |    172239.95 |                 1096.66 |
|        103 |    147675.81 |                -6467.45 |
|        128 |     57495.50 |                 3064.34 |
|        129 |    273469.52 |                 4614.45 |
|        130 |    169065.69 |                 2791.52 |
|        131 |    143898.91 |                 4958.44 |
|        132 |    180897.80 |                -2783.90 |
|        133 |    120535.39 |                  479.18 |
|        134 |    203218.79 |                 4337.53 |
|        135 |    280793.15 |                -3759.73 |
|        160 |    114252.21 |                  432.57 |
|        161 |     22632.04 |                    2.28 |
|        162 |      3658.13 |                   37.71 |
|        163 |    172394.12 |                 -693.50 |
|        164 |    315228.81 |                10351.81 |
|        165 |    204566.92 |                  142.73 |
|        166 |    152280.99 |                 7723.32 |
|        167 |     53697.73 |                 4064.40 |
|        192 |    151014.95 |                  -21.92 |
|        193 |     60599.97 |                 -530.04 |
|        194 |    169409.25 |                 -458.82 |
|        195 |    169343.52 |                  946.26 |
|        196 |     55238.37 |                   36.83 |
|        197 |    162567.01 |                 3181.97 |
|        198 |    167234.32 |                 6354.20 |
|        199 |     93001.13 |                 2460.87 |
|        224 |    232428.88 |                 1773.77 |
|        225 |    229717.70 |                 2853.20 |
|        226 |    255602.24 |                14587.21 |
|        227 |     59478.59 |                  -36.68 |
|        228 |      3803.63 |                  109.57 |
|        229 |    217643.52 |                 3509.65 |
|        230 |    176248.58 |                 7827.05 |
|        231 |    212400.50 |                 8540.23 |
|        256 |    185998.58 |                 4318.01 |
|        257 |     10429.67 |                  333.67 |
|        258 |    244576.64 |                 9198.15 |
|        259 |    102311.15 |                 2216.30 |
|        260 |    242001.54 |                -3145.03 |
|        261 |    271008.54 |                -4561.08 |
|        262 |    134127.81 |                -1324.07 |
|        263 |     99162.08 |                 1897.05 |
|        288 |    234087.71 |                 4064.55 |
|        289 |    218685.70 |                -1892.64 |
|        290 |     90265.69 |                -1319.95 |
|        291 |     81679.04 |                 3966.48 |
|        292 |     51571.37 |                 2645.51 |
|        293 |     62804.27 |                  811.59 |
|        294 |     58485.82 |                 -579.06 |
|        295 |    112253.57 |                  -14.72 |
|        320 |     52957.12 |                 2073.81 |
|        321 |     59593.91 |                 -741.64 |
|        322 |    161012.25 |                -1068.28 |
|        323 |     99307.09 |                  969.52 |
|        324 |     45618.44 |                 2948.00 |
|        325 |    127006.18 |                 3546.74 |
|        326 |    346777.54 |                -2501.57 |
|        327 |     29089.13 |                  842.00 |
|        352 |     21304.57 |                  512.72 |
|        353 |    278475.49 |                -3660.60 |
|        354 |    223943.70 |                 3224.64 |
|        355 |     98378.94 |                 4166.75 |
|        356 |    250722.11 |                 3160.76 |
|        357 |    129581.13 |                 1043.17 |
|        358 |    306323.97 |                 6999.63 |
|        359 |    202575.81 |                -2995.23 |
|        384 |    161989.84 |                 4609.06 |
|        385 |     65722.70 |                  790.58 |
|        386 |    101834.97 |                 4889.35 |
|        387 |    188762.47 |                 9377.32 |
|        388 |    173814.86 |                 7131.12 |
+------------+--------------+-------------------------+

25/07/04 22:59:18 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/spark-a88cecc6-b58f-4e4a-b886-e232fcce7825. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/spark-a88cecc6-b58f-4e4a-b886-e232fcce7825
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:174)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:109)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:90)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively(SparkFileUtils.scala:121)
	at org.apache.spark.util.SparkFileUtils.deleteRecursively$(SparkFileUtils.scala:120)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1126)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$4(ShutdownHookManager.scala:65)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$4$adapted(ShutdownHookManager.scala:62)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.util.ShutdownHookManager$.$anonfun$new$2(ShutdownHookManager.scala:62)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:539)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1136)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.base/java.lang.Thread.run(Thread.java:840)

# [WHY] Just because you can doesn’t mean you should. Be mindful of code readability.

1. A sql query with multiple temporary tables is better than a 1000-line SQL query with numerous CTEs.

2. Keep the number of CTE per query small (depends on the size of the query, but typically < 5)

**Casestudy:**
  
Read the query below and answer the question

```sql
%%sql
with orders as (
select
        order_id,
        customer_id,
        order_status,
        order_purchase_timestamp::TIMESTAMP AS order_purchase_timestamp,
        order_approved_at::TIMESTAMP AS order_approved_at,
        order_delivered_carrier_date::TIMESTAMP AS order_delivered_carrier_date,
        order_delivered_customer_date::TIMESTAMP AS order_delivered_customer_date,
        order_estimated_delivery_date::TIMESTAMP AS order_estimated_delivery_date
    from raw_layer.orders
    ),
 stg_customers as (
    select
        customer_id,
        zipcode,
        city,
        state_code,
        datetime_created::TIMESTAMP as datetime_created,
        datetime_updated::TIMESTAMP as datetime_updated,
        dbt_valid_from,
        dbt_valid_to
    from customer_snapshot
),
state as (
select
        state_id::INT as state_id,
        state_code::VARCHAR(2) as state_code,
        state_name::VARCHAR(30) as state_name
    from raw_layer.state
    ),
dim_customers as (
select
    c.customer_id,
    c.zipcode,
    c.city,
    c.state_code,
    s.state_name,
    c.datetime_created,
    c.datetime_updated,
    c.dbt_valid_from::TIMESTAMP as valid_from,
    case
        when c.dbt_valid_to is NULL then '9999-12-31'::TIMESTAMP
        else c.dbt_valid_to::TIMESTAMP
    end as valid_to
from stg_customers as c
inner join state as s on c.state_code = s.state_code
)
select
    o.order_id,
    o.customer_id,
    o.order_status,
    o.order_purchase_timestamp,
    o.order_approved_at,
    o.order_delivered_carrier_date,
    o.order_delivered_customer_date,
    o.order_estimated_delivery_date,
    c.zipcode as customer_zipcode,
    c.city as customer_city,
    c.state_code as customer_state_code,
    c.state_name as customer_state_name
from orders as o
inner join dim_customers as c on
    o.customer_id = c.customer_id
    and o.order_purchase_timestamp >= c.valid_from
    and o.order_purchase_timestamp <= c.valid_to;
```

## [Exercise]

**Time limit during live workshop: 10 min** 

**Scenario**: Assume you are building tables for your data team and creating this CTE.
    
**Question**: From a team-wide table reusability perspective, what do you think is wrong with the above query?

**Question**: How would you change this Code so that your colleagues can reuse your work?

# Recap

1. CTEs help with the readability and reusability of your query

2. CTEs are defined using the WITH keyword

3. Don’t overuse CTE; be mindful of query size

4. CTEs performance depends on the DB; check your query plan

# Helpers

1. Solutions are available at [workshop_solutions](./workshop_solutions.ipynb). **Note** You need to stop the kernel in this notebook before starting the next one, since DuckDB can only have one worker on it at a time.
2. Note the `outline`(or `Table of Contents` in the left pane on Jupyter notebook) is a easy way to navigate this workbook.

# Questions